.App {
  font-family: sans-serif;
  text-align: center;
}

.trigger {
  position: relative;
}

.trigger,
.trigger::after,
.trigger::before {
  background-color: gray;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.trigger::after,
.trigger::before {
  content: " ";
  position: absolute;
}

.trigger::after {
  top: 6px;
  left: 0;
}

.trigger::before {
  top: 12px;
  left: 0;
}
